cloud_id                 = "l5z3pga4wwveidll3fju"
folder_id                = "l5z3pga4wwveidll3fju"
zone                     = "ru-central1-a"
service_account_key_file = "terraform.tfvars.example"
access_key              = "123"
secret_key              = "321"
bucket_name             = "Some_bucket"
